* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  overflow-x: hidden;
}